name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v2
        with:
          version: 2025.10.21
      - name: Install Dependencies
        run: mise run setup
      - name: Format
        run: mise run format
      - name: Analyze
        run: mise run lint
      - name: Run tests
        run: mise run test --coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
